$color-white: #fff;

$color-blue-lighter: #d3f3fd;

$color-blue: #00a4d8;
$color-blue-v2: #258bcf;

$color-blue-darker: #0083be;

$color-blue-darker2: #0075ab;

$color-light-grey: #f7f7f7;

$color-mid-grey: #ccc;

$color-grey: #e5e5e5;

$color-slate-grey: #6e6e70;

$color-space-grey: #65737e;

$color-black: #313131;

$color-soft-green: #6fc077;

$color-soft-green-darker: #449c4d;

$color-soft-green-filler: #def4e0;

$color-title-blue: #279bd4;
$color-title-grey: #565656;
$color-border-light-grey: #e1e7f0;
$color-info-title-grey: #5e5e5e;
$color-info-value-grey: #515974;
$dark-grey: #262626;

$color-bg-light-grey: #f3f2f2;
$color-bg-light-grey2: #f8f9fb;
