//TODO:sass
.confirmation-box {
  text-align: center;
  display: inline-block;
  padding: 90px 0 0;
  border: 1px solid #dfdfdf;
  border-bottom: 2px solid #e1c32f;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  width: 100%;

  h1 {
    //TODO
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 33px;
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;

    span {
      color: #3498db;
    }
  }
}