/*

I want to use my approach for titles
Here will be the list of classes for all titles on site

Don't know if Alex like this or not...
However his approach seems to me too complicated and not readable at all.

Let's try this.

*/

h1.gh-title, h2.gh-title, h3.gh-title, h4.gh-title, h5.gh-title, h6.gh-title {
  @include font-family-rockwell;
  color: $color-title-grey;
  margin: 0;
  line-height: 1.4;

  &.blue {  color: $color-title-blue;  }

}

h1.gh-title {
  @include font-size(48px);
  letter-spacing: 2px;

  @include media-breakpoint-down(md) {
    @include font-size(40px);
  }

}

h3.gh-title {
  @include font-size(28px);
  letter-spacing: 2px;
}

h4.gh-title {
  @include font-size(24px);
  letter-spacing: 1px;
}


h1.gh-subtitle, h2.gh-subtitle, h3.gh-subtitle, h4.gh-subtitle, h5.gh-subtitle, h6.gh-subtitle {
  @include font-family-avenir;
  color: $color-title-grey;
  margin: 0;

  &.blue {
    color: $color-title-blue;
  }

  &.bold {
    font-weight: 600 !important;
  }

}

h4.gh-subtitle {
  @include font-size(22px);
  letter-spacing: 2px;
  line-height: 1.4;

}

h5.gh-subtitle {
  @include font-size(20px);
  font-weight: 300;
}

h6.gh-subtitle {
  @include font-size(16px);
  font-weight: 400;

  &.small {
    @include font-size(14px);
    text-transform: uppercase;
    font-weight: 500;
  }

}
