.sidebar {
  background-color: #f8f8f8;
}

.sidebar .nav-item .nav-link {
  color: #337ab7;
  padding: 10px 15px;
}

.sidebar li {
  border-bottom: 1px solid #e7e7e7;
}

.sidebar > li > a:focus, .sidebar > li > a:hover {
  text-decoration: none;
  background-color: #eee;
  color: #23527c !important;
}
