.border-gray {
  border: 1px solid #e1e7f0;
}

.border-round {
  border-radius: 4px;
}

.border-bottom-blue {
  border-bottom-width: 2px !important;
  border-bottom-color: #8CBEE4 !important;
}

.border-bottom-orange {
  border-bottom-width: 2px !important;
  border-bottom-color: #F59829 !important;
}

.border-bottom-green {
  border-bottom-width: 2px !important;
  border-bottom-color: #86F08B !important;
}
