html {
  height: 100%;
  position: relative;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 78px;
  background-color: transparent;

  @include media-breakpoint-down(md) {
    padding-bottom: 0;
  }

}

#app > footer {
  background-color: $ui-primary;
  bottom: 0;
  color: $white;
  font-size: $font-size-sm;
  min-height: 2rem;
  left: 0;
  padding: 15px;
  right: 0;
  text-align: center;
  border-top: 1px solid $light;
  margin-top: 30px;
  position: absolute;

  @include media-breakpoint-down(md) {
    position: inherit;
  }

  .container div {
    @include media-breakpoint-down(sm) {
      float: none !important;
      display: block !important;

      &:first-child {
        margin-bottom: 5px;
      }
    }
  }

  p {
    margin-bottom: 0;
    text-align: left;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  ul {
    list-style: none initial initial;
    margin: 0;
    padding: 0;
    text-align: right;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    li {
      display: inline;

      @include media-breakpoint-down(sm) {
        display: block !important;
      }

      a {
        color: $white;
        margin-left: 10px;
        margin-right: 10px;
        position: relative;

        @include media-breakpoint-down(sm) {
          font-size: 1rem;
        }
      }
    }
  }
}
