.nav-tabs {
  &.nav-lg {
    border-bottom: 0;

    .nav-item {
      a.nav-link {
        font-size: 1rem;
        letter-spacing: 0.15rem;
        padding: 0 0 4px 0 !important;
        text-decoration: none;
        font-weight: 500;
        color: #279bd4;

        &:after {
          content: attr(title);
          display: block;
          font-weight: 600;
          height: 1px;
          color: transparent;
          overflow: hidden;
          visibility: hidden;
        }

        &:hover, &.active {
          font-weight: 600;
        }
      }
    }
  }
}
