.nav-tabs {
  &.nav-tabs-campaign {
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    flex-wrap: nowrap;

    .nav-item {
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center;
      margin-bottom: 0;

      &:after {
        content: "";
        position: absolute;
        width: 1px;
        top: 10px;
        bottom: 10px;
        right: 0;
        background: #b3b3b3;
      }

      &:last-child:after {
        width: 0;
      }

      .nav-link {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 500;
        color: #279bd4;
        letter-spacing: 0.2rem;
        position: relative;
        border: none;
        background-color: #fff;
        padding: 1rem 0;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;

        &:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border: solid transparent;
          border-bottom-width: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
        }

        &.active {
          &:before, &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-bottom-style: solid;
            border-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-bottom: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            z-index: 1;
          }

          &:before {
            bottom: -13px;
            border-top-color: #777;
            border-right-width: 16px;
            border-left-width: 16px;
            border-top-width: 13px;
          }

          &:after {
            bottom: -12px;
            border-top-color: #fff;
            border-right-width: 15px;
            border-left-width: 15px;
            border-top-width: 12px;
          }
        }
      }
    }
  }
}
