.w-85px {
  width: 85px;
}

.h-85px {
  height: 85px;
}

.wh-85px {
  @extend .w-85px, .h-85px;
}

.w-90px {
  width: 90px;
}

.w-150px {
  width: 150px;
}

.h-50px {
  height: 50px;
}

.h-90px {
  height: 90px;
}

.h-260px {
  height: 260px;
}

.wh-90px {
  @extend .w-90px, .h-90px;
}

.mh-100px {
  min-height: 100px;
}

.mh-200px {
  min-height: 200px;
}

.pt-120px {
  padding-top: 120px;
}

.pb-120px {
  padding-bottom: 120px;
}

.pb-240px {
  padding-bottom: 240px;
}

.pb-260px {
  padding-bottom: 260px;
}

.mw-700px {
  max-width: 700px;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}

.wh-240px {
  width: 240px;
  height: 240px;
}

.wh-equal {
  width: 100%;
  padding-bottom: 100%;
}

.size-square {
    padding-top: 100%;
}

.lh-1 {
  line-height: 1;
}

.lh-50px {
  line-height: 50px;
}

.pt-120px {
  padding-top: 120px;
}

.pb-120px {
  padding-bottom: 120px;
}
