.content-block {
  background: no-repeat center top;
  background-size: cover;
  padding: 60px 0;
  text-align: center;
}

.drawn-map-background {
  background-image: url(/images/campus-manager/reward_bg.jpg);
}