
.icon {
  height: 32px;
  width: 32px;
  margin-right: 6px;
}

.icon-squares {
  content: url(/images/icons/category.png);
}

.icon-tshirt {
  content: url(/images/icons/garment.png);
}

.icon-color {
  content: url(/images/icons/color-box.png);
}

.icon-info {
  content: url(/images/icons/info.png);
}

.icon-user {
  content: url(/images/icons/user-gold.png);
}

.icon-van {
  content: url(/images/icons/motor.png);
}

.icon-shield {
  content: url(/images/icons/shield.png);
}

.icon-mail {
  content: url(/images/icons/mail.png);
}

.icon-price {
  content: url(/images/icons/price-tag.png);
}

.icon-image {
  content: url(/images/icons/image.png);
}

.icon-clock {
  content: url(/images/icons/clock.png);
}

.icon-cart {
  content: url(/images/icons/cart.png);
}

.icon-location {
  content: url(/images/icons/location.png);
}

.icon-card {
  content: url(/images/icons/card.png);
}

.icon-location-brown {
  content: url(/images/icons/location-brown.png);
}

.icon-status {
  content: url(/images/icons/status.png);
}

.icon-text {
  line-height: 32px;
  display: inline-block;
  height: 32px;
  vertical-align: top;
}
