
$ui-primary: #3498db;

$ui-primary-darker: #258bcf;

$font-primary: shade(lighten(saturate($blue, 5%), 15%), 15%);

$font-size-xs: 0.8rem;

$font-size-xxs: 0.7rem;

$lighter: $gray-100;

$ui-primary-lighter: #d2e7fb;

$font-weight-semi-bold: 500;

