@mixin color-value {
  @include font-size(14px);

  .value__color {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    margin-right: 5px;
  }

  span { vertical-align: middle; }
}

#gh-module-popup1 {
  padding: 30px;

  @include media-breakpoint-down(xs) {  padding: 0;  }

  .modal-dialog {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: #fff;

    @include media-breakpoint-down(xs) {  min-height: 100vh;  }

    .modal-content {
      border: 0;
      @include media-breakpoint-down(xs) { border-radius: 0; }
    }

    .modal-header {
      position: relative;
      padding: 20px $padding-big-block-lr;
      border-color: #e1e7f0;

      @include media-breakpoint-down(xs) { padding: 20px $padding-block-lr; }

      .modal-title {
        @include avenir-blue-title;
      }
      .close {
        position: absolute;
        top: 10px; right: 10px;
      }
    }

    .modal-body {
      padding: 24px $padding-big-block-lr;

      @include media-breakpoint-down(xs) { padding: 20px $padding-block-lr; }

      .modal__subtitle {
        @include campaign-subtitle;
      }

      .modal__section  {
        padding: 40px $padding-big-block-lr;

        @include media-breakpoint-down(xs) { padding: 20px $padding-block-lr; }

        textarea.gh-control {
          resize: none;
          height: 200px;
          width: 100%;
        }

      }

      .modal__btns {
        text-align: right;

        @include media-breakpoint-down(xs) { text-align: center; }

        .campaign-btn {
          @include font-size(20px);
          padding: 12px 44px;
          margin-left: 10px;
          margin-bottom: 10px;

          @include media-breakpoint-down(sm) {
            @include font-size(18px);
            padding: 8px 20px;
          }

        }
      }
    }
  }
}

/* APPROVE DESIGN - awaiting approval design */
.approve-design {
  .design__details {

    .design__detail {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      @include media-breakpoint-down(sm) {  flex-wrap: wrap;  }

      &:last-child { margin-bottom: 0; }

      .detail__title {
        @include font-thin;
        @include font-size(16px);
        @include font-upper;
        color: $color-info-title-grey;
        width: 140px;

        @include media-breakpoint-down(sm) {  width: 100%;  }

      }

      .detail__value {
        @include font-size(16px);
        display: inline-block;
        margin-left: 30px;
        color: $dark-grey;

        @include media-breakpoint-down(sm) {  margin: 6px 30px 0 0;  }

        &.with-color {
          @include color-value;
        }
      }
    }
  }

  .approve__footer {
    @include font-size(20px);
    color: $dark-grey;
    text-align: center;

    .campaign-btn {
      margin-top: 20px;
    }
  }
}

//View orders - collecting payment page
.view-orders {
  .module-link {
    color: #929292;

    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }

  .modal-dialog {
    max-width: 96%;

    @include media-breakpoint-down(xs) {  max-width: 100%;  }

    .modal-header {
      .orders__header {
        display: flex;
        width: 100%;
        align-items: center;

        .modal-title { flex-grow: 1;}

        .campaign-header__badge {
          @include campaign-badge;
          margin-right: 28px;
        }

        .campaign-header__name {
          @include avenir-blue-title;
        }

        @include media-breakpoint-down(xs) {
          flex-wrap: wrap;

          .modal-title {
            width: 100%;
            margin-bottom: 20px;
          }
        }

      }
    }

    .modal-body {
      .campaign__table {
        th,td {
          padding: 10px 20px;
          border-bottom: 1px solid #e1e7f0;

          &:first-child {  padding-left: 0;  }
        }
      }

      .modal__btns {
        margin-top: 20px;

        .campaign-btn {
          @include font-size(16px);
          text-transform: uppercase;
        }
      }
    }
  }
}

.extend-date {
  .modal-dialog {
    width: 320px;
    margin-top: 100px;

    @include media-breakpoint-down(xs) {  min-height: 0;  }

    .modal-body {
      padding: 12px;

      .greekhouse-datepicker {
        &.ui-widget.ui-widget-content { width: 100%; }
      }

      .modal__btns .campaign-btn {
        width: 100%;
        padding: 12px 0;
        text-align: center;
        @include font-size(16px);
        text-transform: uppercase;
        margin: 10px 0 0;
      }
    }
  }
}

.relaunch-campaign {
  .modal-dialog {
    .modal-body {
      h5 {
        @include font-size(20px);
        color: #4d4b4a;
        margin: 0 0 30px 0;
      }

      .relaunch__form {
        padding-left: 50px;

        @include media-breakpoint-down(xs) {  padding-left: 0;  }


        .form-group label {
          @include font-size(18px);
        }

      }

      .modal__btns {
        margin-top: 56px;
        text-align: center;

        .campaign-btn {
          @include font-size(16px);
          text-transform: uppercase;

          @include media-breakpoint-down(xs) { margin-left: 0;  }

        }
      }
    }
  }
}

.upload-design {
  .modal-dialog {
    max-width: 840px;

    .modal-body {

      .block-info-rounded {

        .block-info__body {
          padding-top: 40px;
          padding-bottom: 40px;

          .gh-control {
            padding: 11px 20px;
          }

          .design__locations {
            position: relative;
            margin-bottom: 60px;

            .location__number-colors {
              position: absolute;
              top: 0; right: 0; left: 0;

              .colors__title {
                @include font-size(14px);
                text-align: center;
                font-weight: 500;
                line-height: 45px;

                @include media-breakpoint-down(sm) {
                  display: none !important;
                }
              }
            }
          }

          .location__colors {
            color: $dark-grey;
            margin-bottom: 30px;

            label {
              align-self: center; margin-bottom: 0;

              @include media-breakpoint-down(sm) {
                margin-bottom: 10px;
              }
            }

            .location__color {
              display: inline-block;
              margin-right: 20px;
              margin-top: 14px;
              @include color-value;

              .fa.fa-trash-o {
                color: #7c7c7c;
                vertical-align: middle;
                margin-left: 2px;
                font-size: 12px;
                cursor: pointer;
              }

            }

            .colors__title {
              @include font-size(14px);
              text-align: center;
              font-weight: 500;
              align-self: flex-end;

              &.total {
                display: block;
                color: #7c7c7c;
              }

              @include media-breakpoint-down(sm) {
                display: none !important;
              }

            }
          }

          .design__products {

            //margin-top: 60px;

            .product {

              margin-bottom: 24px;

              &:last-child { margin-bottom: 0; }

              h5 {
                @include font-size(14px);
                color: #333;
              }

              .product__images {
                display: flex;
                flex-wrap: wrap;

                .product__image {
                  margin-right: 30px;
                  margin-top: 14px;

                  .image {
                    position: relative;
                    width: 90px;
                    height: 90px;
                    border: 1px solid #dddddd;
                    border-radius: 6px;
                    color: #dddddd;

                    &:after {
                      content: '\f0ee';
                      font-family: 'FontAwesome';
                      @include font-size(40px);
                      position: absolute;
                      top: 10px;
                      left: 0; right: 0;
                      text-align: center;
                    }

                    &:before {
                      position: absolute;
                      left: 0; right: 0;
                      text-align: center;
                      content: 'Upload image';
                      text-transform: uppercase;
                      @include font-size(8px);
                      bottom: 14px;
                    }
                  }

                  .title {
                    @include font-size(12px);
                    color: #bfbfbf;
                    margin-top: 4px;
                    text-align: center;
                  }

                }

              }
            }
          }

        }
      }

      .modal__btns {
        text-align: center;

        .campaign-btn {
          @include font-size(16px);
          text-transform: uppercase;

          @include media-breakpoint-down(xs) { margin-left: 0;  }
        }
      }
    }
  }
}